
body {
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.form, .greetings{
    display: none; 
}
.showing{
    display: block;
}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.bgImage{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
}
.bgImgTag{
  animation: fadeIn 1s linear;
}
input {
  background: none;
  appearance: none;
  border: 0;
  font-size: 2em !important;
  color: white;
  border-bottom: 2px solid white;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}

input:focus,
input:active {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .clock {
    font-size:8em;
    margin-top:40%;
    color:white;
    /* font-family: 'Open Sans', sans-serif; */
  }
 
  .location {
    opacity: 0.7;
    transition: opacity 0.3s ease-in;
    font-style: italic;
    font-size: 25px;
    position: absolute;
    bottom: 25px;
    left: 25px;
  }
 
  .greetings {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color:white;
    font-weight: 500;

  }
  .js-form{
    color:white;
  }
  .to-do{
    margin-bottom: 2em;
  }
  .list {
       font-size: 70px;
       color: white;
       margin-left: 100px;
       transition: 0.3s;
   }
  .to-do input{
    color: white !important;
  }
.to-do-alert{
  position: fixed;
  top: 20px;
  left: 65px;
  font-size: 25px;
  text-decoration: none;
  transition: margin-left .5s;
}
.to-do-alert a{
 text-decoration: none;
 color: white;
 cursor: pointer;
 
}
.to-do-alert a:hover{
  text-decoration: none;
  color: white !important;

 }
 
  
 
  .weather {
    position: absolute;
    font-style: italic;
    font-size: 15px;
    position: fixed;
    top: 25px;
    right: 25px;
    color:white;
  }
  .toDoBtn {
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: solid 0px;
    font-size: 40px;
    padding-top: 30px;
    position: absolute;
  }
  .toDoBtn:hover {
  color:#337ab7;
  }


  /* 메뉴 아이콘 transition */
  
.bt-menu-trigger {
  font-size: 15px;
  position: relative;
	display: inline-block;
	width: 2em;
	height: 3em;
  cursor: pointer;
  position: fixed;
  top: 17px;
  left: 25px;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 0.2em;
	margin-top: -0.1em;
	background-color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}


.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(-0.5em);
	transform: translateY(-0.5em);
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(0.5em);
	transform: translateY(0.5em);
}

.bt-menu-trigger:hover span:after {
  -webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
	transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
}

.bt-menu-trigger:hover span:before {
  -webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
	transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);

}
.todo-title{
  cursor: pointer;
  color: white;
  top: 20px;
  font-size: 30px;
  left: 120px;
  position: fixed;
	color: #19dfa0;
	background-image: -webkit-linear-gradient(100deg, #19dfa0, 	#637de8);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: left .5s;
}
.todo-section-title{
  font-size: 59px;
  font-weight: 700;
  position: fixed;
  color: white;
  top: 90px;
  left: 90px;
  transition: 0.3s;
}
.todo-list-btn{
  line-height: inherit;
  font-size: 30px;
  width: 80%;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  
  }
  .clear-btn{
    line-height: inherit;
    font-size: 30px;
    width: 160px;
    background: transparent;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    position: fixed;
    top: 108px;
    right: 35px;
    transition: 0.3s;
  }
@media (max-width: 760px) {
.weather {top: 80px;}
.clock-text{font-size: 50px;}
.greetings{font-size: 25px;}
.js-form{font-size: 10px;}
.js-toDoForm {font-size: 10px;}
.bgImage{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 2s linear;
}
.bgImgTag{
  animation: fadeIn 2s linear;
}
.todo-section-title{
  font-size: 40px;
  font-weight: 700;
  position: fixed;
  color: white;
  top: 110px;
  left: 90px;
  transition: 0.3s;
}

.list {
  font-size: 35px;
  color: white;
  margin-left: 35px;
  transition: 0.3s;
 
}
.toDoBtn{
      margin-left: 10px;
    cursor: pointer;
    background: none;
    border: solid 0px;
    font-size: 25px;
    padding-top: 10px;
    position: absolute;
}

.clear-btn {
  line-height: inherit;
  font-size: 16px;
  width: 100px;
  background: transparent;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
  position: fixed;
  top: 75px;
  right: 15px;
  transition: 0.3s;
}
}






.navMenuSpan{
  padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: transparent;
}
.navMenuSpan:hover{
  cursor: pointer;
  color:#337ab7; 
}


div.ex2 {
  background-color: #000;
  background-color: rgba( 000, 000, 000, 0.5 );
  width: 100%;
  height: 110px;
  overflow: auto;
  position: fixed;
  top: 190px;
  left: 0px;
  height: 80%;
}
::-webkit-scrollbar {

  display:none;
  
  }